/intel_npu_acceleration_library-*.tar.gz
/neural_compressor-*.tar.gz
/requirements*.txt
/pycocotools-*.tar.gz
/transformers-*.tar.gz
/numpy-*.crate
/criterion-*.crate
/esaxx-rs-*.crate
/macro_rules_attribute-*.crate
/monostate-*.crate
/rayon-cond-*.crate
/spm_precompiled-*.crate
/unicode-normalization-alignments-*.crate
/tokenizers-*.tar.gz
/safetensors-*.tar.gz
/pyroma-*.tar.gz
/sphinx_book_theme-*.tar.gz
/ablog-*.tar.gz
/sphinx-automodapi-*.tar.gz
/sphinx-examples-*.tar.gz
/sphinx_thebe-*.tar.gz
/sphinx-togglebutton-*.tar.gz
/sphinxcontrib_youtube-*.tar.gz
